   
   <div class="container-md delete-page">
        <h3>For: {{this.title}}</h3>

        <form action="/{{this.id}}?_method=DELETE" method="POST" class="d-inline" >
            <input type="submit" value="Click to Confirm Delete" class="btn btn-danger">
            <a href="/" class="btn btn-secondary">Back to Index</a>
        </form>
    </div>