<h1>Edit entry</h1>

<form action="{{this.id}}?_method=put" method="POST" >

    <div>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-control" value="{{this.title}}">
    </div>

<input type="submit" value="update entry" class="btn btn-secondary">
<a href="/index.js" class="'btn btn-secondary">Cancel</a>


</form>