
<h1>That's a Bunch of JS and more</h1>

<div class="landing-page">
        <div class="col-md-12 text-center">
        <a href="/htmlindex" class="btn btn-primary btn-lg" >HTML</a>
        <a href="/cssindex" class="btn btn-primary btn-lg" >CSS</a>
        <a href="/jsindex" class="btn btn-primary btn-lg" >JS</a>
        <a href="/bootstrap" class="btn btn-primary btn-lg" >Bootstrap</a>
        <a href="/mongmonindex" class="btn btn-primary btn-lg" >MONGO/Mongoose</a>
        <a href="/miscindex" class="btn btn-primary btn-lg" >Misc</a>
        <a href="/all" class="btn btn-primary btn-lg" >All</a>

    </div>
</div>