<div class="container-md">
    <h1>New Entry:</h1>
      <form id="forCodeBlock" action="/add" method="POST">

          <div class="form-group">

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" class="form-control"/>

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="form-control" />

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" class="form-control" />

            <label for="URL">URL:</label>
            <input type="text" id="url" name="url" class="form-control" />
          
            
            <label for="codeblock">Enter code here (optional):</label></br>
              <pre>
                <code>
                  <textarea name="codeblock" id="codeblock" cols="90" rows="10" form="forCodeBlock"></textarea>
                </code>
              </pre>
           
      
            </div>

          <input type="submit" class="btn btn-primary" />
          <a href="/" class="btn btn-secondary">Cancel</a>
      </form>
</div>


