<h1></h1>

<ul class="list-group">

   
    <li>{{this.title}}</li>
    <li>{{this.description}}</li>
    <li>{{this.url}}</li>
    <li>{{this.createdAt}}</li>


<form action="/add" method="POST">
{{!-- <textarea name="description" id="" cols="30" rows="10">description</textarea> --}}
<label for="description">description:</label>
<input type="text" id="description" name="description" class="form-control" />
</form>

 
 </ul>
 
  {{!-- <input type="submit" class="btn btn-primary" /> --}}
  <a href="/" class="btn btn-secondary">Back to Index</a>